{% extends 'base.html' %}
{% block title %}Москва{% endblock %}
{% block content %}<h1>Москва</h1>
<p>Москва́ (произношение (инф.)) — столица России, город федерального значения, административный центр Центрального федерального округа и центр Московской области, в состав которой не входит[6].
Крупнейший по численности населения город России и её субъект — 13 010 112[3] человек (2021), самый населённый из городов, полностью расположенных в Европе, занимает 22-е место среди городов мира по численности населения[7], крупнейший русскоязычный город в мире. 
Центр Московской городской агломерации.
Самый крупный город Европы по площади[8]. </p>{% endblock %}