{% extends 'base.html' %}
{% block title %}Санкт-Петербург{% endblock %}
{% block content %}<h1>Санкт-Петербург</h1>
<p>Санкт-Петербу́рг (с 18 [31] августа 1914 года до 26 января 1924 года[8] — Петрогра́д, с 26 января 1924 года до 6 сентября 1991 года[3] — Ленингра́д, разг. — Пи́тер, Петербу́рг, сокр. — СПб) — второй по численности населения город России[9].
Город федерального значения.
Административный центр Северо-Западного федерального округа.
Основан 16 (27) мая 1703 года царём Петром I.
В 1714—1728 и 1732—1918 годах — столица Российского государства[a][10]. </p>{% endblock %}