{% extends 'base.html' %}
{% block title %}Саратов{% endblock %}
{% block content %}<h1>Саратов</h1>
<p>Сара́тов — город на юго-востоке европейской части России, административный центр Саратовской области.
Является городом областного значения. Вместе с пригородным Гагаринским районом составляет муниципальное образование город Саратов со статусом городского округа[4][5].
Крупный культурный, экономический и образовательный центр Поволжья.
Входит в двадцатку крупнейших городов России, не будучи городом-миллионером, одновременно является центром Саратовской агломерации, население которой превышает 1,2 миллиона человек. </p>{% endblock %}