{% extends 'base.html' %}
{% block title %}Воронеж{% endblock %}
{% block content %}<h1>Воронеж</h1>
<p>Воро́неж — город на юге Центральной России, административный центр Воронежской области[4].
Расположен на берегах реки Воронеж, в 12 километрах от её впадения в Дон[5]; расстояние от Москвы — около 520 км.
Население Воронежа по состоянию на 1 января 2021 года составляет 1 057 681[2] человек.
Вокруг Воронежа образовалась агломерация с численностью населения более 1,3 млн человек.
Образует административно-территориальную единицу и муниципальное образование городской округ город Воронеж с единственным населённым пунктом в его составе[6][7]. </p>{% endblock %}